
<div class="contact-btn-area">
  <%= link_to "CONTACT ME", "#", class: "btn-main" %>
</div>
<div class="btn-home">
  <%= link_to "am.", "/", class: "btn-transparent" %>
</div>
<div class="side-menu-area">
  <div class="btn-rotate">
    <%= link_to "ABOUT", "/about", class: "btn-main" %>
  </div>
  <div class="btn-rotate">
    <%= link_to "PROCESS", "/process", class: "btn-main" %>
  </div>
  <div class="btn-rotate">
    <%= link_to "WORK", "/projets", class: "btn-main" %>
  </div>
</div>
