
<div class="contact-btn-area">
  <%= link_to "Say hello", "#", class: "btn-main" %>
</div>
<div class="btn-home">
  <%= link_to "", "/", class: "btn-transparent" %>
</div>
<div class="paris">
  PARIS
</div>

<div class="side-menu-area">
  <div class="btn-rotate">
    <%= link_to "About", "/about", class: "btn-main scroll" %>
  </div>
  <div class="btn-rotate">
    <%= link_to "Process", "/process", class: "btn-main scroll" %>
  </div>
  <div class="btn-rotate">
    <%= link_to "Work", "/work", class: "btn-main scroll" %>
  </div>
</div>
