

<div class="home-content align-items-center d-flex justify-content-center">
  <div class="navtop">
    <div class="d-flex justify-content-between">
      <div class="am20">AM20.</div>
      <div class="navtop-circle"></div>
    </div>
  </div>
  <%= image_tag ('centre.png'), class: 'img-home' %>
  <div class="scroll-container">
    <div class="serif-text" style="margin-bottom: 3vh; margin-left: 1.3vw">Scroll</div>
    <%= image_tag 'linescroll.png', class: 'arrow-scroll' %>
  </div>
</div>

<div class="wrap-2"><canvas id="liquid">
</canvas></div>

<div class="home-bio row align-items-center d-flex justify-content-center">
  <div class="col-12 col-md-4 col-sm-10 order-1 order-md-0" style="margin-left: 5vh;">
    <div>
      <div style="display: flex;">
        <h1>DESIGNER <h6> &</h6></h1>
      </div>
      <h1>DEVELOPER</h1>
    </div>
    <div class="red-text" style="margin-top: 5vh;">
      <p>Hi, I'm Ambre,</p>
      <p>a freelance full-stack web developer and</p>
      <p>Digital Product Designer based in Paris. </p>
      <p>I specialize in UI/UX Design and visual</p>
      <p>development.</p>
      <p><strong>My goal is to help people build better</p>
      <p>and more meaningful products.</strong></p>

    </div>
  </div>

  <div class="image-block col-12 col-md-4 order-0 order-md-1">
    <%= image_tag ('ambrewagon.jpg'), class: 'profile-picture'  %>
  </div>
</div>


      <section class="portfolio-experiment">
      <a href="/about">
        <span class="text">ABOUT</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>

  <div class="home-step-details d-flex flex-column">
    <h1 class="d-flex justify-content-end some-projects">LAST PROJECTS</h1>
    <div class="d-flex justify-content-end red-text_italic wid">What I do?</div>
    <div class="red-text-min mx-auto home-step">
      <div style="display: flex;">
        <p class="red-text-num" style="margin-right: 11px;">01.</p><p>Development</p></div>
      <div style="display: flex;">
        <p  class="red-text-num" style="margin-right: 11px;">02.</p><p>Visual Identity</p></div>
      <div style="display: flex;">
        <p  class="red-text-num" style="margin-right: 11px;">03.</p><p>UI / UX Strategy</p></div>
    </div>
    <div class="d-flex justify-content-end circle-home-container">
      <div class="circle-home"></div>
    </div>
  </div>

<section class="projet-section">
  <section class="img-section">
    <%= link_to '/projets/10' do %>
      <div class="home-cocktail-img" style="background-image: url(<%= asset_path 'cocktails.jpeg' %>);">
        <div class="home-projet-detail" style="top:50px">
          <div class="home-projet-detail-name">Fancy Cocktail</div>
          <div class="home-projet-detail-description">Create your own recepies</div>
        </div>
      </div>
    <% end %>

    <%= link_to '/projets/9' do %>
    <div class="home-camera-img" style="background-image: url(<%= asset_path 'camera.jpg' %>);">
      <div class="home-projet-detail">
        <div class="home-projet-detail-name">Fancy Cocktail</div>
        <div class="home-projet-detail-description">Create your own recepies</div>
      </div>
    </div>
    <% end %>

    <%= link_to '/projets/8' do %>
    <div class="home-students-img" style="background-image: url(<%= asset_path 'students.jpeg'%>);">
      <div class="home-projet-detail">
        <div class="home-projet-detail-name">Fancy Cocktail</div>
        <div class="home-projet-detail-description">Create your own recepies</div>
      </div>
    </div>
   <% end %>

  </section>
  <div class="title-end-home">Oh la la.</div>
</section>

