<div class="home-content row align-items-center d-flex justify-content-center">
  <div class="home-background">
    <div class="circle-container circle"></div>
    <div class="line-container">
      <div class="lines line1"></div>
      <div class="lines line2"></div>
      <div class="lines line3"></div>
    </div>
  </div>
  <div class="home-bio col-12 col-md-5 col-sm-10 order-1 order-md-0">
    <div class="main-headline">Hey, I am Ambre,</div>
    <div class="main-bio">a freelance full-stack web developer and Digital Product Designer based in Paris.
    <br>I specialize in UI/UX Design and Visual Development.</div>
  </div>
  <div class="image-block col-12 col-md-3 order-0 order-md-1">
    <%= image_tag ('ambrewagon.jpg'), class: 'profile-picture moving_shape border-move bg-move'  %>
  </div>
  <div class="social-container">
    <ul class="list-social-icons">
      <li><%= link_to "", 'https://github.com/ambremgt', target: '_blank', class: "fab fa-github fa-lg social-icon"%></li>
      <li><%= link_to "", 'https://www.linkedin.com/in/ambre-margerit-33441ba8/', target: '_blank', class: "fab fa-linkedin-in fa-lg social-icon"%></li>
      <li><%= link_to "", 'https://dribbble.com/Ambremgt', target: '_blank', class: "fab fa-dribbble fa-lg social-icon"%></li>
    </ul>
  </div>

<%= link_to '#' do %>
  <div class="scroll-container">
    <h3 class="btn-scroll">SCROLL</h3>
      <%= image_tag 'scroll circle.png', height: 35, width: 35, class: 'circle-scroll scroll-move'%>
      <%= image_tag 'scroll arrow.png', height: 34, width: 8, class: 'arrow-scroll scroll-move' %>
    <% end %>
  </div>

</div>

<div class="wrap-2"><canvas id="liquid">
</canvas></div>
