<body style="background: linear-gradient(0deg, rgba(246,243,243,1) 0%, rgba(234,228,226,1) 100%);">

</body>

<div class="home-content align-items-center d-flex justify-content-center">

  <div class="navtop">
    <div class="d-flex justify-content-between">
      <div class="am20">AM20.</div>
      <div class="navtop-circle"></div>
    </div>
  </div>

  <div class="line-container">
    <div class="lines lines-black line1"></div>
    <div class="lines lines-black line5"></div>
    <div class="lines-horizontal lines-black line-h1"></div>
    <div class="lines-horizontal lines-black line-h2"></div>
  </div>

  <div class="social-container">
    <ul class="list-social-icons">
      <li><%= link_to "", 'https://github.com/ambremgt', target: '_blank', class: "fab fa-github fa-lg social-icon"%></li>
      <li><%= link_to "", 'https://www.linkedin.com/in/ambre-margerit-33441ba8/', target: '_blank', class: "fab fa-linkedin-in fa-lg social-icon"%></li>
      <li><%= link_to "", 'https://dribbble.com/Ambremgt', target: '_blank', class: "fab fa-dribbble fa-lg social-icon"%></li>
    </ul>
  </div>

  <div class="scroll-container">
    <%= image_tag 'Ellipse.png', height: 45, width: 45, class: 'circle-scroll scroll-move scroll'%>
    <%= image_tag 'Arrow.png', height: 20, width: 5, class: 'arrow-scroll scroll-move scroll' %>
  </div>
</div>

<div class="wrap-2"><canvas id="liquid">
</canvas></div>



<div class="home-content row align-items-center d-flex justify-content-center">


  <div class="home-bio col-12 col-md-5 col-sm-10 order-1 order-md-0">
    <div class="main-headline">Hey, I am Ambre,</div>
    <div class="main-bio">a freelance full-stack web developer and Digital Product Designer based in Paris.
    <br>I specialize in UI/UX Design and Visual Development.</div>
  </div>

  <div class="image-block col-12 col-md-3 order-0 order-md-1">
    <%= image_tag ('ambrewagon.jpg'), class: 'profile-picture moving_shape border-move bg-move'  %>
  </div>

</div>



<% @projets.each do |projet| %>
  <div class="slide-home">
    <div class="slide-home-wrapper">
      <div class="home-projet-name-container home-projet-name">
        <%= projet.name.downcase %>
        <div class="underline underline-name"></div>
      </div>
      <div class="home-projet-cover">
        <%= link_to image_tag(projet.cover, class: 'image-cover-home'), projet_path(projet) %>
      </div>
      <div class="home-projet-category">
        <div class="underline underline-category"></div>
        <%= projet.category.capitalize %>
      </div>
    </div>
  </div>
<% end %>

